<nav class="navbar navbar-expand-lg navbar-light bg-light" appNav>
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">users</a>
        </li>
        <li class="nav-item" *ngIf="userRole.includes('ADMIN')">
          <a class="nav-link" routerLink="/products">prodcuts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">about</a>
        </li>
       
        
      </ul>
      <!-- <button class="btn btn-outline-success mr-3" type="submit"   >LogIn</button> -->

       <button  class="btn btn-outline-success" type="submit" (click)="onlogout()"  >LogOut</button>
     
    </div>
  </nav>
