
.main{
    height:100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    background-image: url(https://images.unsplash.com/photo-1688924510268-b8f96e26dea2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDF8NnNNVmpUTFNrZVF8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    width: 500px
}   